@media(max-width: 1395px){
	.block_fret_Y{
		width: 50%;
		padding: 33px 27px 26px 35px;
		height: 320px;
	}
	.calculator{
		padding: 20px;
	}
	.right_block ul li .in_bocks label{
		white-space: inherit;
		font-size: 12px;
	}
	.title_s{
		margin-top: 40px;
	}
	
}